# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=OpenTitan Provisioning Appliance service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/1000/containers


[Service]
Type=oneshot
TimeoutStartSec=15
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/podman pod restart provapp
ExecStop=/usr/bin/podman pod stop provapp
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
