# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Kubernetes configuration file created with podman-3.4.4. Modifications added
# to configure environment variables and port mappings.
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2022-12-24T01:40:08Z"
  labels:
    app: provapp
  name: provapp
spec:
  hostNetwork: true
  containers:
  # Configuration for the `spmserver` container.
  - name: spmserver
    args:
    - --enable_tls=true
    - --service_key=/var/lib/opentitan/config/dev/certs/out/spm-service-key.pem
    - --service_cert=/var/lib/opentitan/config/dev/certs/out/spm-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/dev/certs/out/ca-cert.pem
    - --port=${OTPROV_PORT_SPM}
    - --hsm_so=/usr/local/lib/softhsm/libsofthsm2.so
    - --spm_auth_config=sku_auth.yml
    - --spm_config_dir=/var/lib/opentitan/config/dev/spm
    # TODO: Update label to point to specific release version.
    image: localhost/spm_server:latest
    resources: {}
    ports:
      - containerPort: ${OTPROV_PORT_SPM}
    env:
      - name: SPM_HSM_PIN_USER
        valueFrom:
          configMapKeyRef:
            name: spm-config
            key: spm_hsm_pin_user
      - name: SOFTHSM2_CONF
        valueFrom:
          configMapKeyRef:
            name: spm-config
            key: softhsm2_conf
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config/dev
      name: var-lib-opentitan-spm-config-dev-0
    - mountPath: ${OPENTITAN_VAR_DIR}/config/dev/spm/softhsm2
      name: var-lib-opentitan-spm-softhsm2-host-1
  # Configuration for the `paserver` container.
  - name: paserver
    args:
    - --enable_tls=true
    - --service_key=/var/lib/opentitan/config/dev/certs/out/pa-service-key.pem
    - --service_cert=/var/lib/opentitan/config/dev/certs/out/pa-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/dev/certs/out/ca-cert.pem
    - --port=${OTPROV_PORT_PA}
    - --spm_address=${OTPROV_DNS_SPM}:${OTPROV_PORT_SPM}
    - --enable_pb
    - --pb_address=${OTPROV_DNS_PB}:${OTPROV_PORT_PB}
    # TODO: Update label to point to specific release version.
    image: localhost/pa_server:latest
    resources: {}
    ports:
      - containerPort: ${OTPROV_PORT_PA}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config/dev
      name: var-lib-opentitan-spm-config-dev-0
  # Configuration for the `pbserver` container.
  - name: pbserver
    args:
    - --enable_tls=true
    - --service_key=/var/lib/opentitan/config/dev/certs/out/pb-service-key.pem
    - --service_cert=/var/lib/opentitan/config/dev/certs/out/pb-service-cert.pem
    - --ca_root_certs=/var/lib/opentitan/config/dev/certs/out/ca-cert.pem
    - --port=${OTPROV_PORT_PB}
    - --db_path=file::memory:?cache=shared
    # TODO: Update label to point to specific release version.
    image: localhost/pb_server:latest
    resources: {}
    ports:
      - containerPort: ${OTPROV_PORT_PB}
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /var/lib/opentitan/config/dev
      name: var-lib-opentitan-spm-config-dev-0
  restartPolicy: Always
  volumes:
  - hostPath:
      path: ${OPENTITAN_VAR_DIR}/config/dev
      type: Directory
    name: var-lib-opentitan-spm-config-dev-0
  - hostPath:
      path: ${OPENTITAN_VAR_DIR}/config/dev/spm/softhsm2
      type: Directory
    name: var-lib-opentitan-spm-softhsm2-host-1
status: {}
